@charset "utf-8";

// Import variables and mixins
@import "variables";
@import "mixins";

// Import base styles and layout
@import "base";
@import "layout";

// Import GitHub markdown CSS
@import "github-markdown";

// Syntax highlighting
// Syntax highlighting
.highlight {

    // Comment
    .c {
        color: #59636e;
        font-style: italic;
    }

    .c1 {
        color: #59636e;
        font-style: italic;
    }

    .cm {
        color: #59636e;
        font-style: italic;
    }

    .cp {
        color: #59636e;
        font-weight: bold;
    }

    .cs {
        color: #59636e;
        font-weight: bold;
        font-style: italic;
    }

    // Error
    .err {
        color: #f6f8fa;
        background-color: #82071e;
    }

    .gd {
        color: #82071e;
        background-color: #ffebe9;
    }

    .gr {
        color: #82071e;
    }

    .gh {
        color: #0550ae;
        font-weight: bold;
    }

    .gi {
        color: #116329;
        background-color: #dafbe1;
    }

    .go {
        color: #59636e;
    }

    .gp {
        color: #59636e;
    }

    .gs {
        font-weight: bold;
    }

    .gu {
        color: #59636e;
        font-weight: bold;
    }

    .gt {
        color: #82071e;
    }

    // Keyword
    .k {
        color: #cf222e;
    }

    .kc {
        color: #cf222e;
    }

    .kd {
        color: #cf222e;
    }

    .kp {
        color: #cf222e;
    }

    .kr {
        color: #cf222e;
    }

    .kt {
        color: #cf222e;
    }

    .kn {
        color: #cf222e;
    }

    .o {
        color: #cf222e;
        font-weight: bold;
    }

    .ow {
        color: #cf222e;
        font-weight: bold;
    }

    // Operator
    .op {
        color: #cf222e;
        font-weight: bold;
    }

    // Literal
    .l {
        color: #0550ae;
    }

    .ld {
        color: #0a3069;
    }

    .m {
        color: #0550ae;
    }

    .mb {
        color: #0550ae;
    }

    .mf {
        color: #0550ae;
    }

    .mh {
        color: #0550ae;
    }

    .mi {
        color: #0550ae;
    }

    .mo {
        color: #0550ae;
    }

    // String
    .s {
        color: #0a3069;
    }

    .sb {
        color: #0a3069;
    }

    .sc {
        color: #0a3069;
    }

    .sd {
        color: #0a3069;
    }

    .s2 {
        color: #0a3069;
    }

    .se {
        color: #0a3069;
    }

    .sh {
        color: #0a3069;
    }

    .si {
        color: #0a3069;
    }

    .sx {
        color: #0a3069;
    }

    .sr {
        color: #0a3069;
    }

    .s1 {
        color: #0a3069;
    }

    .ss {
        color: #0a3069;
    }

    // Name
    .n {
        color: #1f2328;
    }

    .na {
        color: #0550ae;
    }

    .nb {
        color: #953800;
    }

    .bp {
        color: #953800;
    }

    .nc {
        color: #953800;
        font-weight: bold;
    }

    .no {
        color: #953800;
    }

    .nd {
        color: #6639ba;
        font-weight: bold;
    }

    .ni {
        color: #953800;
    }

    .ne {
        color: #953800;
        font-weight: bold;
    }

    .nf {
        color: #6639ba;
        font-weight: bold;
    }

    .fm {
        color: #6639ba;
        font-weight: bold;
    }

    .nl {
        color: #953800;
        font-weight: bold;
    }

    .nn {
        color: #953800;
    }

    .nt {
        color: #116329;
    }

    .vc {
        color: #953800;
    }

    .vg {
        color: #953800;
    }

    .vi {
        color: #953800;
    }

    .nv {
        color: #953800;
    }

    // Text
    .w {
        color: #bbbbbb;
    }
}